.checkbox-group
	position relative
	cursor pointer

	&__checkbox
		position absolute
		left -9999px

	&__label
		position relative
		padding-left 28px
		display inline-block
		font-family $primary-font-family
		font-size 21px
		font-weight 700
		line-height 1.2
		user-select none

		&:before
			sprite $checkbox_body
			position absolute
			top 4px
			left 0
			content ''

		&:after
			sprite $checkbox_check
			position absolute
			top 2px
			left 2px
			content ''
			color $primary-font-color
			opacity 0
			transition .2s ease all
			transform scale(2)

	&__checkbox:checked + &__label:after
		opacity 1
		transform scale(1)
