.input-group
	margin-bottom 5px
	display flex
	align-items flex-end

	&__label
		position relative
		top -3px
		margin-right 18px
		display block
		font-family $primary-font-family
		font-size 22.44px
		font-weight 700
		white-space nowrap
		color $primary-font-color

	&__input
		padding 15px 15px 8px
		display inline-block
		width 100%
		font-family $secondary-font-family
		font-size 29px
		font-weight 100
		line-height 1.2
		background-color transparent
		background-image url('../images/line.png')
		background-position 0 26px
		border none
		outline none

	&_short
		.input-group__input
			position relative
			top -4px
			padding 16px 9px 8px
			width 205px

@media (max-device-width 500px)
	.input-group
		&__input
			padding 8px 0
			font-size 18px
			background-position 0 5px

		&_short
			margin 0

			.input-group__input
				padding 15px 0 8px
				font-size 30px
				background-position 0 26px
