extends /blocks/layout/layout

include /blocks/page/page
include /blocks/header/header

include /blocks/main/main
include /blocks/main/__section/main__section

include /blocks/input-group/input-group
include /blocks/checkbox-group/checkbox-group
include /blocks/radio-group/radio-group
include /blocks/expandable-textarea/expandable-textarea

include /blocks/skills/skills
include /blocks/skills/__list-item/skills__list-item

include /blocks/javascript-level/javascript-level

block head
	- var pageTitle = 'Aidar Ibatullin - CSSSR';

block content
	+page
		+header
		+main
			+main__section._first
				+input-group('Полное ФИО', 'text', 'Ибатуллин Айдар Маратович')
				+input-group('Год рождения', 'number', '1993')
				+input-group('Место жительства', 'text', 'Октябрьский / Казань')
				+input-group('Скайп', 'text', '- это лучший файлообменник')
				+input-group('Почта', 'email', 'amazing.space.invader@gmail.com')

			+main__section('Расскажите о себе чекбоксами', 'Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.')._second
				+skills._first
					+skills__list-item
						+checkbox-group('БЭМ/OOCSS', true)
					+skills__list-item
						+checkbox-group('Pug (Jade)', true)
					+skills__list-item
						+checkbox-group('Stylus/LESS/SASS', true)
					+skills__list-item
						+checkbox-group('Работаю с SVG', false)
					+skills__list-item
						+checkbox-group('Верстаю семантично', true)
					+skills__list-item
						+checkbox-group('Accessibility (A11Y)', false)
					+skills__list-item
						+checkbox-group('ES2015/ES2016', true)
				+skills._second
					+skills__list-item
						+checkbox-group('Gulp/GRUNT', true)
					+skills__list-item
						+checkbox-group('Webpack', true)
					+skills__list-item
						+checkbox-group('Дружу с WebGL', false)
					+skills__list-item
						+checkbox-group('jQuery', true)
					+skills__list-item
						+checkbox-group('Знаю/изучаю Angular', false)
					+skills__list-item
						+checkbox-group('Знаю/изучаю React', true)
					+skills__list-item
						+checkbox-group('Знаю/изучаю Node.js', true)
				+skills
					+skills__list-item
						+checkbox-group('Использую Git', true)
					+skills__list-item
						+checkbox-group('С глазомером всё ок', true)
					+skills__list-item
						+checkbox-group
							+e.INPUT.checkbox(type='checkbox' checked)
							+e.SPAN.label
								| Читаю
								a(href='http://www.blog.csssr.ru' target='_blank') blog.csssr.ru
					+skills__list-item
						+checkbox-group('Я ленивый(-ая)', true)
					+skills__list-item
						+checkbox-group('У меня хороший английский', false)

			+main__section('Уровень владения JavaScript')._third
				+javascript-level

			+main__section('Расскажите о себе словами', 'Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.')
				+expandable-textarea

			+main__section('Какие у вас планы на будущее?', 'Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.')
				+radio-group('target', 'Верстать')
				+radio-group('target', 'Прокачиваться в JS')
				+radio-group('target', 'Менеджерство')
				+radio-group('target', 'Другое', true)

			+main__section
				+input-group('Дата заполнения', 'text', '05.03.2017')._short
