.expandable-textarea
	display block
	width 100%
	min-height 180px
	font-family 'Roboto Slab'
	font-size 30px
	font-weight 100
	line-height 2
	resize none
	background-color transparent
	background-image url('../images/line.png')
	background-position 0 18px
	border none
	transition 1s ease all
