.radio-group
	position relative
	display inline-block
	cursor pointer

	&__radio
		position absolute
		left -9999px

	&__label
		position relative
		padding-left 33px
		display inline-block
		font-family $primary-font-family
		font-size 20px
		font-weight 700
		user-select none

		&:before
			sprite $radio_body
			position absolute
			top -4px
			left -1px
			content ''

		&:after
			sprite $radio_dot
			position absolute
			top 4px
			left 7px
			content ''
			color $primary-font-color
			opacity 0
			transition .2s ease all
			transform scale(2)

	&__radio:checked + &__label:after
		opacity 1
		transform scale(1)
