.main__section
  margin-bottom 0

  &_first
    margin-bottom 67px

  &_second
    margin-bottom 48px

  &_third
    margin-bottom 34px
    padding-left 2px

  &_fourth
    margin-bottom 48px
    padding-left 2px

  &_fifth
    margin-bottom 71px

@-moz-document url-prefix()
  .main__section
    &_first
      margin-bottom 64px

    &_second
      margin-bottom 46px

    &_third
      margin-bottom 34px
      padding-left 2px

    &_fourth
      margin-bottom 45px
      padding-left 2px
