mixin javascript-level()
	+b.javascript-level&attributes(attributes)
		+e.slider.js-javascript-level-slider__
		+e.INPUT.input.js-javascript-level-input__(type='hidden' name='javascript-level-input')
