.header
	position relative
	display block
	user-select none

// Служебные блоки
.logo
	display block

.title
	margin-top 37px
	display block
	text-align center

	&__image
		position relative
		left -18px

.stamp
	position absolute
	top -14px
	right -64px
	display block

@media (max-device-width 768px)
	.stamp
		right 0

@media (max-device-width 500px)
	.logo
		&__image
			width 100px

	.title
		&__image
			left 0
			width 150px

	.stamp
		top 0
		width 100px
