.header
	position relative

	display block

	user-select none

// Служебные блоки
.logo
	display block

.title
	margin-top 37px
	display block
	text-align center

	&__image
		position relative
		left -21px

.stamp
	position absolute
	top -14px
	right -58px

	display block
