.main__description
  margin-top 11px

  display block

  font-family $primary-font-family
  font-size 15px
  font-weight 400
  line-height 1.5

  color $secondary-font-color

  user-select none

  &_fourth
    margin-top 14px
    padding-left 1px

  &_fifth
    margin-top 9px
    padding-left 2px
