.skills
	width 33%
	display inline-block
	vertical-align top
	margin-top -2px

	&_first
		padding-top 11px

	&_second
		padding-top 12px

	&_third
		width 30%
		padding 14px 0 0 12px

	// mixes
	&__checkbox-group
		&_alt
			.checkbox-group
				&__label
					padding-left 25px
					top -1px
