.skills
	margin-top -2px
	display inline-block
	width 33%
	vertical-align top

	&_first
		padding-top 11px

	&_second
		padding-top 12px

	&_third
		padding 14px 0 0 12px
		width 30%

	// mixes
	&__checkbox-group
		&_alt
			.checkbox-group
				&__label
					top -1px
					padding-left 25px
